<!DOCTYPE html>
<html>
<title>SceneR2</title>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" type='text/css' 
                       href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- <link rel="stylesheet" href="{% static 'css/slider.css' %}"> -->

<body> 
    <div class="w3-container w3-teal">
        <h1><center>SceneR2 Web App</center></h1>
    </div>
    <div class='w3-container w3-green'>
    
    <center><form method="POST" class="post-form" enctype="multipart/form-data">  
            {% csrf_token %}  
            {{ form.as_p }} 
            <button type="submit" class="save btn btn-default" style="background: rgb(255,255,255)">Submit</button>    
            </form></center>
            
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <!-- <div id='button_div'>
        <button id='exp_button' onclick="setExplorer()">Explorer</button> 
        <button id='static_button' onclick="setStatic()">Video and static CAN</button>
        </div> -->

    <div id='main_div'>
    </div>
    <!-- <input type="text" name="FirstName" ><br> -->
    <!-- <input id='input_1' value="0" type="number" name="inputField" onchange="changeFrame()"><br> -->
    <div class="slider-and-vid-container container" style='padding-top: 2em'>
        <div class="row">
            <div class="col-sm-7">
                <div class="sticky-top text-center">
                    <video class='video' 
                        ondblclick="togglePlayPause(this)" 
                        style="width: 100%; padding-top: 10em" id="video1" width="640">
                        <source src="{{video_path}}" type='video/mp4'>
                    </video>
                    <div class="slidecontainer sticky-top">
                        <input type="range" min="0" max="50" value="25" 
                        class="slider" style="width: 50%" id="fpsRange" oninput="set_fps(this.value)">
                    </div>
                    <div id='print_fps'>FPS: 25</div>    
                </div>
                
                

            </div>
            <div class="slidecontainer col-sm-5">
                <input type="range" min="0" max="500" value="0" 
                class="slider canslider" id="myRange" oninput="showFrame(this.value)">
                <script>document.getElementById('myRange').style.height='{{slider_height}}';</script>
                <script src="{% static 'js/slider.js' %}"></script>
            </div>
        </div>
    </div>
    </body> 
    <script src="{% static 'js/slider.js' %}"></script>
</html> 
