<!DOCTYPE html>
<html>
<title>SceneR2</title>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<body> 
    <div class="w3-container w3-teal">
        <h1>SceneR2 Web App</h1>
    </div>
    <div class='w3-container w3-green'>
    <form method="POST" class="post-form" enctype="multipart/form-data">  
            {% csrf_token %}  
            {{ form.as_p }}  
            <button type="submit" class="save btn btn-default">Submit</button>  
    </form>
    </div>
    <video id="video1" controls width="640">
            <source src="{% static 'data/video.mp4' %}" type='video/mp4'>
    </video>

    <canvas id="myCanvas" width="640" height="480" style="border:1px solid #d3d3d3;">
            Your browser does not support the HTML5 canvas tag.</canvas>
    </body>  
    <script>
            var v = document.getElementById("video1");
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");
            var i;
            
            v.addEventListener("play", function() {i = window.setInterval(function() {ctx.drawImage(v,5,5,640,480)},20);}, false);
            v.addEventListener("pause", function() {window.clearInterval(i);}, false);
            v.addEventListener("ended", function() {clearInterval(i);}, false); 
            </script>
</html> 